
ul li a {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

.aside-list li a {
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
}

.aside-list-title{
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
}

@media (max-width: 725px) {
    ul {
        text-align: center;
    }
    ul > li {
        display: inline-block;
        margin-right: 10px;/* Ajusta este valor según tus necesidades */
    }
    .aside-list {
        display: none;
    }
    ul li a {
        margin-top: 0;
    }
}
