

/* LISTAS JUEGOS-CONSOLAS / index-misJuegos-misConsolas */

.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    /*align-items: center; */
    margin-bottom: 2rem;
}

.juego_consola {
    margin: 1rem;
    width: 22rem;
    height: 29.4rem;
    border: 0.5rem solid var(--primario);
    border-radius: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--primario);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--blanco);
    text-decoration: none;  
    text-align: center;
}

.juego_consola:hover {
    border-color: var(--secundario);
}