<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>GameKeeper</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MisJuegos</display-name>
    <servlet-name>MisJuegos</servlet-name>
    <servlet-class>controlador.MisJuegos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MisJuegos</servlet-name>
    <url-pattern>/MisJuegos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MisConsolas</display-name>
    <servlet-name>MisConsolas</servlet-name>
    <servlet-class>controlador.MisConsolas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MisConsolas</servlet-name>
    <url-pattern>/MisConsolas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginaPrincipal</display-name>
    <servlet-name>PaginaPrincipal</servlet-name>
    <servlet-class>controlador.PaginaPrincipal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaPrincipal</servlet-name>
    <url-pattern>/PaginaPrincipal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarConsolas</display-name>
    <servlet-name>ListarConsolas</servlet-name>
    <servlet-class>controlador.ListarConsolas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarConsolas</servlet-name>
    <url-pattern>/ListarConsolas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JuegoServlet</display-name>
    <servlet-name>JuegoServlet</servlet-name>
    <servlet-class>controlador.JuegoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JuegoServlet</servlet-name>
    <url-pattern>/JuegoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsolaServlet</display-name>
    <servlet-name>ConsolaServlet</servlet-name>
    <servlet-class>controlador.ConsolaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsolaServlet</servlet-name>
    <url-pattern>/ConsolaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controlador.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioServlet</display-name>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>controlador.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>controlador.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>