.game-status-library {
    position: relative;
    max-width: 500px;
    height: 36px;
    background-color: var(--50);
    border: 2px solid var(--800);
    border-radius: 34px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 10px 20px var(--950);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.game-status-library .option {
    width: 80.5px;
    height: 28px;
    position: relative;
    top: 2px;
    left: 2px;
}

.game-status-library .input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    cursor: pointer;
}

.game-status-library .btn {
    width: 100%;
    height: 100%;
    background-color: var(--50);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-status-library .span {
    color: var(--800);
}

.game-status-library .input:checked+.btn {
    background-color: var(--800);
}

.game-status-library .input:checked+.btn .span {
    color: var(--50);
}

.game-status-library .input:not(:checked):hover+.btn {
    background-color: var(--400);
}

.game-status-library .input:not(:checked):hover+.btn .span {
    color: var(--50);
}

.game-status-library .option:last-child {
    margin-right: 8px;
}

@media (max-width: 800px) {
    .game-status-library {
        margin: 10px auto;
    }
}

@media (max-width: 500px) {
    .game-status-library {
        max-width: 320px;
        margin: 10px auto;

    }
    .game-status-library .option {
        width: 60.5px;
    }
    .game-status-library .span {
        font-size: 0.8em;
    }
}