:root {
  --50: #f5f7fa;
  --100: #e9eef5;
  --200: #cfdce8;
  --300: #a5bfd4;
  --400: #759dbb;
  --500: #5380a4;
  --600: #406689;
  --700: #35526f;
  --800: #2f475d;
  --900: #2b3d4f;
  --950: #1d2834;
  --green: #1e5745;
  --yellow: #f7b53b;
  --red: #ac3e3e;
  --background: #18181b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --50: #f5f7fa;
    --100: #e9eef5;
    --200: #cfdce8;
    --300: #a5bfd4;
    --400: #759dbb;
    --500: #5380a4;
    --600: #406689;
    --700: #35526f;
    --800: #2f475d;
    --900: #2b3d4f;
    --950: #1d2834;
    --green: #1e5745;
    --yellow: #f7b53b;
    --red: #ac3e3e;
    --background: #18181b;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--50);
}

a {
  text-decoration: none;
  color: var(--50);
}

a:visited {
  color: var(--50);
}

a:hover {
  color: var(--400);
}

.body-content {
  max-width: 2000px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

aside {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-top: 30px;
  overflow: hidden;
}

section {
  /* Ajusta como prefieras */
  flex: 3;
  overflow: hidden;
}

.data-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.full-view{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.next-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-tittle {
  font-size: 50px;
  margin-top: 20px;
  margin-left: 40px;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
  color: grey;
}

@media (max-width: 725px) {
  main {
      flex-direction: column;
  }
  aside {
      width: 100%;
      padding-top: 15px;
  }
  .page-tittle {
    font-size: 40px;
    margin-left: 0px;
    text-align: center;
  }
  .body-content {
    padding: 30px 1px;
  }
}
